@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 300, 900;
}

*{
  margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #28282B;
   min-height: 100vh;
   font-family: 'Montserrat' , sans-serif;
}

button{
  font-family: 'Montserrat' , sans-serif;
}

.nav-bar{
  width: 100%;
  height: 70px;
  background-color: #28282B;
}

.container{
  max-width: 1380px;
  margin: 0 auto;

}

.row{
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.col-50{
  width: 50%;
}

.logo-div{
  width:30%;
}

.logo-div h2{
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
}

.navigation-div{
  width: 60%;
}

.navigation-div ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation-div ul li{
  list-style: none;
}

.navigation-div ul li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 1rem 2rem;
}

.navigation-div ul li a:active{
  color: #ddd;
}

.navigation-div ul li a:hover{
  color: #ddd;
}

.navigation-div ul li a:visited{
  color: #ddd;
}

.signin-btn{
  border: 1px solid #ddd;
  border-radius: 0.5REM;
}

.home-section{
  width: 100%;
  height: 80dvh;
}

.left-home{
  width: 50%;
  height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  color: #FFF;
}

.left-home h1{
  font-size: 52px;;
}

.left-home p.slogan{
  font-size: 24px;
  font-weight: 600;
  color: grey;
}

.left-home h2{
  color: #29B8EB;
}

.buttons-div{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.buttons-div .add-btn , .detail-btn{
  font-size: 16px;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  color: #FFF;
  background-color: #29B8EB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.detail-btn{
  background-color: #28282B;
  border: 1px solid #FFF;
}

.right-home{
  width: 50%;
  position: relative;
}

.right-home img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  left: 60px;
}

.g502-text {
  position: absolute;
  left: 360px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  font-size: 180px;
  font-weight: 800;
  letter-spacing: 8px;
  color: #29B8EB;
  opacity: 0.9;
  z-index: 1;
}